<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright 2014 The Go Authors. All rights reserved.
Use of this source code is governed by a BSD-style
license that can be found in the LICENSE file.
-->
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	<!--package="com.example.sprite" -->
		package=PACKAGE_NAME

	android:versionCode="1"
	android:versionName="1.0">

	<uses-sdk android:minSdkVersion="9" />
	<!--<application android:label="Sprite" android:hasCode="false">-->
	<application android:label=APP_NAME android:hasCode="false">

	<activity android:name="android.app.NativeActivity"
		<!--android:label="Sprite"-->
		android:label=APP_NAME

	android:configChanges="orientation|keyboardHidden">
		<!--<meta-data android:name="android.app.lib_name" android:value="sprite" />-->

	<meta-data android:name="android.app.lib_name" android:value=APP_NAME />
		<intent-filter>
			<action android:name="android.intent.action.MAIN" />
			<category android:name="android.intent.category.LAUNCHER" />
		</intent-filter>
	</activity>
	</application>
</manifest> 
